/* Add your own styles here */
body {
  font-family: Arial, sans-serif;
}

.dot {
  fill: steelblue;
  opacity: 0.7;
}

#tooltip {
  position: absolute;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 10px;
  display: none;
}

.legend {
  font-size: 14px;
  fill: steelblue;
}
